@import "../Colors";

.cat {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .cat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .cat-item {
      width: 200px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transition: transform 0.3s, box-shadow 0.3s;
      background-color: $white;
      padding: 20px;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
      }

      .cat-item_img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .cat-item_name {
        text-align: center;
        margin-top: 10px;
        font-size: 1.2rem;
        color: $gray-dark;
      }
    }
  }
}
